@import 'reset';

main {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  padding: 10px;

  //main요소 안쪽의 직계자식의 공통 스타일 지정가능
  > * {
    padding: 10px;
    //부모에 flex적용시 margin겹침 현상 해결
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
    background: gray;
    
    h1 {
      font-size: 30px;
      color: white;
    }
  }

  header {
    background: lightblue;
    height: 120px;
  }

  section {
    background: lightgreen;
    height: 300px;
  }

  aside:nth-of-type(1) {
    background: orange;
  }
  aside:nth-of-type(2) {
    background: orangered;
  }  

  footer {
    background: lightcoral;
    height: 80px;
  }

  
}

//최소넓이값 600px이상에서부터는 다음의 내용을 덮어씀
@media screen and (min-width: 600px){
  main {
    //타블렛 구간에서부터는 동일한 폭 비율1은 그대로 유지하고 넓이값만 100%제거해 좌우로 배치되게 처리
    aside {
      flex: 1;
    }
  }
}

//최소넓이값 800px이상에서부터는 다음의 내용을 덮어씀
@media screen and (min-width: 800px) {
  main {
    section {
      //desktop버전에서는 100%를 지우고 비율을 aside대비 3배 크기로 설정
      //그리고 순서는 가운데 오도록 2로 설정
      flex: 3;
      order: 2;
    }
    //나머지 요소도 순서 지정
    aside:nth-of-type(1) {
      order: 1;
    }
    aside:nth-of-type(2) {
      order: 3;
    }
    footer {
      order: 4;
    }
  }
}


